.item{
    display: flex;
    background-color: rgba(128, 128, 128, 0.4);
    color: seashell;
    margin: 1rem;
    padding: 1rem;
    border-radius: 6px;
}

.item img{
    margin-right: 1.5rem;
}

.link {
    color: rgb(212, 212, 212);
    text-decoration: none;
}

.link:hover{
    color: salmon;
}